body
{
    background-image: url(./images/knowledge-1052014_1920.jpg);
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}